<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.messenger.noctua"
    tools:ignore="ExtraText">
    //Allows network access
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //Allows app to run in the background
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:name="com.messenger.tor.SampleApp"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Noctua"
        android:extractNativeLibs="true"

        tools:targetApi="31">

        <meta-data
            android:name="io.matthewnelson.kmp.tor.enable_foreground"
            android:value="@bool/tor_service_enable_foreground" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.stop_service_on_task_removed"
            android:value="@bool/tor_service_stop_service_on_task_removed" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.if_foreground_exit_process_on_destroy_when_task_removed"
            android:value="@bool/tor_service_if_foreground_exit_process_on_destroy_when_task_removed" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_id"
            android:value="@integer/tor_service_notification_id" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_channel_id"
            android:value="@string/tor_service_notification_channel_id" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_channel_name"
            android:value="@string/tor_service_notification_channel_name" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_channel_description"
            android:value="@string/tor_service_notification_channel_description" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_channel_show_badge"
            android:value="@bool/tor_service_notification_channel_show_badge" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_icon_network_enabled"
            android:resource="@drawable/tor_service_notification_icon_network_enabled" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_icon_network_disabled"
            android:resource="@drawable/tor_service_notification_icon_network_disabled" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_icon_data_xfer"
            android:resource="@drawable/tor_service_notification_icon_data_xfer" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_icon_error"
            android:resource="@drawable/tor_service_notification_icon_error" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_color_when_bootstrapped_true"
            android:resource="@color/tor_service_notification_color_when_bootstrapped_true" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_color_when_bootstrapped_false"
            android:resource="@color/tor_service_notification_color_when_bootstrapped_false" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_visibility"
            android:value="@string/tor_service_notification_visibility" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_action_enable_restart"
            android:value="@bool/tor_service_notification_action_enable_restart" />
        <meta-data
            android:name="io.matthewnelson.kmp.tor.notification_action_enable_stop"
            android:value="@bool/tor_service_notification_action_enable_stop" />

        // Declare service
        <service
            android:name="com.messenger.msgServer.MsgServer"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>